body {
    background-color: grey
  }

.job {
    border: 0.2rem solid white;
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
}

.center-jobs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} 

.showBtn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button[type=button] {
  width: 10%;
  background-color: #4c7faf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 2.5px;
}

select[type=dropDown] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box
}