body {
    background-color: grey
  }

.job {
    border: 0.2rem solid white;
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
}

.test {
  color: red;
}
.container {
  margin: 0 auto;
  text-align: center;
}